# Python
__pycache__/
*.pyc
.env
.venv
*.db

# Uploads
uploads/

# Node
node_modules/
dist/
build/

# Flutter
FlutterApp/build/
FlutterApp/.dart_tool/
FlutterApp/.flutter-plugins
FlutterApp/.flutter-plugins-dependencies
*.apk
*.aab

# IDE
.idea/
.vscode/
*.swp
*.swo
